:root{
    --dark-cyan: hsl(185,75%,39%);
    --very-dark-desaturated: hsl(229,23%,23%);
    --dark-grayish-blue: hsl(227,10%,46%);
    --dark-gray: hsl(0,0%,59%);

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url('../images/background-pokemon.jpg');
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

    
}
.pokeSearch {
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    position: relative;
    top:10px
}

.nombrePoke{
    border: 1px solid rgb(223, 223, 223); 
    border-radius: 5px; 
    width: 85%; 
    height: 30px;
    font-size: 1.5rem;
    margin-left: 10px;
    padding: 6px 0px 6px 6px;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
}

.flex{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-content: center;
} 

.tipos{
    width: auto;
    text-align: center;
    padding: 5px 30px 5px 30px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}
.card{
    background-color: white;
    width: 330px;
    border-radius: 25px;
    overflow: hidden;
    margin-top: 2rem;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.315);

    &-header{
        width: 100%;
        display: block;
    }
    &-body{

        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(194, 191, 191, 0.315);

        &-img{
            width: 120px;
            height: 120px;
            border: 2px solid white;
            box-shadow: 0px 1px 10px rgba(0,0,0,0.315);
            border-radius: 50%;
            margin-top: calc(-120px - 35px);
            align-items: center;
           
        }

        &-title{
            margin: 0;
            font-size: 1.8rem;
            margin-top: 2rem;
            text-transform: capitalize;

            span {
                color: var(--dark-gray);
                font-weight: 400;
            }
        }
        &-text{
            color: var(--dark-gray);
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
        &-type{
          
            font-size: 1.5rem;
            margin-top: 1rem;
            
        }

    }



    &-footer{
        display: flex;
        justify-content: space-evenly;

        &-social{
            text-align:center;
            h3 {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
                font-size: 2rem;
                color: var(--very-dark);
              }
          

            p{
                margin-top: 0;
                margin-bottom: 2rem;
                letter-spacing: 1px;
                color: var(--dark-gray);
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }

}

